body {
    background-color: #FFF7C9;
    width: 80%;
    margin: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    margin-left: -5%;
}

.navContainer {
    /* display: flex;  */
}

.navItems {
    display: flex;
    vertical-align: top;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    justify-content: space-between;
    margin: 3%;
}

.navItems a {
    /* padding-right: 5%; */
    /* justify-content: space-around; */
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    display: flex;
    float: left;
    /* padding-right: 8%; */   
}

.logo h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    color: #001CCC;
}

.logo img {
   height: 50%;
   margin-left: auto;
   justify-content: space-around;
}


h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.6rem;
    color: #001CCC;

}

.heroSection {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.heroSection p {
    font-family: "Work Sans", sans-serif; 
    font-size: 1.5rem;
    line-height: 142%;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    /* padding-left: 15%; */
}

.sidelinksConnect {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* float: left; */
    padding-left:0;
    /* display: flex; */
    /* justify-content: center; */
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #001CCC;
    padding-bottom: 18%;
    padding-left:0;
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
}

.iconLink {
    display: flex;
    justify-content: space-between;
}

.sidelinksConnect img {
    height: 30%;
    /* margin-left: auto; */
    /* justify-content: space-around; */
}

/* .heroSection .sidelinks {
    height: 22px;
    display: flex;
    justify-content: space-between;
    height: 6%;
} */

.WorkContainer {
    width: 70%; 
    margin: auto;
    padding-left: 6%;
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
}

.workItem a {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
}

.workSection {
    padding: 10%;
}

.workItem {
    padding-bottom: 2%;
}

footer p {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}